@import "../common/init";
@import "../common/container";


.header{
  width: 100%;
  height: 64px;
  background-color: #3a3a3a;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  .container {
    height: 100%;
    width: $pageWidth;
    margin: 0px auto;
    .log-box{
      width: 140px;
      height: 100%;
      float: left;
      .logo {
        width: 140px;
        height: 100%;
        margin-top: 8px;
        cursor: pointer;
        background: url("../../../../PycharmProjects/xfz/front/dest/images/logo.png") no-repeat;
        a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
    .nav {
      margin-left: 128px;
      float: left;
      li {
        float: left;
        margin-right: 40px;
        line-height: 64px;
        height: 64px;
        box-sizing: border-box;
        a {
          color: white;
          font-family: 华文楷书;
          font-weight: bold;
        }
        &.active {
          border-bottom: 5px solid #578cd9;
        }
      }
    }
    .auth-box {
      height: 54px;
      line-height: 64px;
      float: right;
      .icon-person {
         display: inline-block;
         height: 32px;
         line-height: 32px;
         vertical-align: middle;
      }
      a {
        color: white;
        font-family: 华文楷书;
        font-weight: bold;
      }
    }
  }
}

.main {
  width: 100%;
  margin-top: 64px;
  .course-nav {
    width: 100%;
    height: 54px;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
    .nav-container {
      width: $pageWidth;
      height: 54px;
      margin: 0px auto;
      overflow: hidden;
      line-height: 54px;
      .title {
        height: 54px;
        float: left;
        color: #212121;
      }
      .nav-list {
        overflow: hidden;
        margin-left: 200px;
        li {
          float: left;
          margin-right: 50px;
          a {
            color: #888;
          }
          &.active {
            a{
              color: #212121;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .wrapper {
    .course-list {
      //overflow: hidden;
      width: $pageWidth;
      margin: 0px auto;
      padding: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      a {
        li {
        width: 300px;
        height: 300px;
        margin-right: 25px;
        margin-top: 16px;
        background-color: white;
        cursor: pointer;
        //float: left;
        .thumbnail {
          width: 100%;
          height: 158px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .course-info {
          padding: 20px 15px 0px;
          text-align: justify;
          box-sizing: border-box;
          width: 100%;
          height: 142px;
          position: relative;
          .title {
            font-size: 16px;
            max-height: 52px;
            color: #212121;
          }
          .author {
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            color: #888;
          }
          .price-group {
            position: absolute;
            line-height: 30px;
            bottom: 10px;
            right: 16px;
            font-size: 16px;
            text-align: right;
            .free {
              color: #7ed321;
            }
            .pay {
              color: #f54a4a;
            }
          }
        }
        &:hover {
          box-shadow: 2px 2px 10px -4px #515151;
        }
       }
      }
    }
  }
}

.footer {
  float: left;
  width: 100%;
  margin-top: 50px;
  color: #c9c9c9;
  box-sizing: border-box;
  .top-group {
    background: #555e67;
    height: 150px;
    .top-inner-group {
      width: $pageWidth;
      height: 100%;
      margin: auto;
      position: relative;
      padding: 20px;
      .logo-box {
        margin-top: 24px;
        float: left;
        width: 168px;
        height: 60px;
        background: url("http://xfz.cn/static/build/images/foot-logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .detail-group {
        margin-top: 24px;
        float: left;
        margin-left: 84px;
        .line1 {
          overflow: hidden;
          .links {
            overflow: hidden;
            float: left;
            margin-right: 30px;
            li {
              float: left;
              border-right: 2px solid #c9c9c9;
              padding: 0px 15px 0px 0px;
              margin-right: 15px;
              a {
                font-size: 16px;
                color: #c9c9c9;
                cursor: pointer;
              }
              &:last-of-type {
                border-right: none;
              }
            }
          }
          .about-us {
            float: left;
            .title {
              float: left;
              margin-right: 10px;
            }
            .social-group {
              float: left;
              overflow: hidden;
              li {
                float: left;
              }
              .weixin {
                margin-top: 5px;
                background: url("https://xfz.cn/static/build/images/wx-icon.png");
                background-repeat: no-repeat;
                background-size: 20px;
                cursor: pointer;
                &:hover .qrcode {
                  display: block;
                }
                .qrcode {
                  width: 204px;
                  height: 204px;
                  background: url("https://xfz.cn/static/build/images/wxQr.jpg");
                  background-repeat: no-repeat;
                  background-size: 100%;
                  position: absolute;
                  right: 360px;
                  top: -160px;
                  display: none;
                }
                .text {
                  margin-left: 24px;
                }
              }
              .weibo {
                margin-top: 5px;
                margin-left: 20px;
                background: url("https://xfz.cn/static/build/images/xl-icon.png");
                background-repeat: no-repeat;
                background-size: 20px;
                .text {
                  margin-left: 24px;
                  margin-top: 0px;
                  text-align: center;
                }
              }
            }
          }
        }
        .line2 {
          overflow: hidden;
          margin-top: 10px;
          .address {
            float: left;
          }
          .contact {
            float: right;
          }
        }
      }
    }
  }
  .bottom-group {
    text-align: center;
    background: #383e44;
    height: 60px;
    line-height: 60px;
  }
}